# https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitattributes.html
# https://git-scm.com/docs/gitattributes

*	text=auto

# Text
*.cs		text	eol=crlf	diff=csharp
*.sln		text	eol=crlf
*.csproj	text	eol=crlf
*.resx		text	eol=crlf
*.svg		text	eol=crlf
*.xml		text	eol=crlf

# Binary
#*.exe		binary	diff=exif
#*.dll		binary	diff=exif
#*.jpg		binary	diff=exif
#*.png		binary	diff=exif

# Resolve conflicts
#*	merge=ours
#*	merge=theirs
#*	merge=union
