# Visual Studio files
*.suo
*.user
*.cache
.vs*/

# Binary files
*.exe
*.dll
*.manifest
*.pdb
*.lnk

# System files
*.ini

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs
[Ll]og/
*.log
UpgradeLog.*
_UpgradeReport_Files/

# Backup files
Backup/

# Files under development
Draft/
